<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Tradias</title>
      <style type="text/css">
      	body{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#868686; margin:0; padding:0; background: #f4f4f4;}
      </style>
   </head>
   <body>
   		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; margin: 0 auto; background: #ffffff;">
       <tr>
        <td style="background: url(images/headerbg.png); text-align: right; padding: 45px 20px;">
            <a href="#"><img src="images/tradias.png" style="max-width: 100%;" /></a>
        </td>
      </tr>
      <tr>
        <td style="padding: 35px 35px 50px 35px; background: #ffe6e9;">
          <h3 style="font-size: 30px; color: #030000; font-weight: normal; text-align: center; margin: 0; padding: 0; line-height: 44px;">Please confirm your email address<br />and finish registration!</h3>
          <p style="font-size: 14px; color: #868686; margin: 35px 0 0 0; padding: 0; line-height: 22px; text-align: center;"><a href="<%=LINK%>" target="_blank" style="background: #013b69; color: #ffffff; border:1px solid #013b69; text-decoration: none; padding: 12px 35px; font-weight: bold; border-radius: 5px;">Confirm Email Address</a></p>
        </td>
      </tr>
      <tr>
        <td style="margin: 0; padding: 25px;">
          <p style="font-size: 13px; margin: 0 0 10px 0; padding: 0; color: #053d70;">Security Tips:</p>
          <p style="font-size: 12px; margin: 0 0 7px 0; padding: 0; color: #666666;">- DO NOT  give your password to anyone!</p>
          <p style="font-size: 12px; margin: 0 0 7px 0; padding: 0; color: #666666;">- DO NOT send money or any other crypto to anyone claming to be a representative of Tradias.</p>
          <p style="font-size: 12px; margin: 0 0 20px 0; padding: 0; color: #666666;">- Enable Google Two Factor Authentication on your account.</p>
          <p style="font-size: 12px; margin: 0 0 20px 0; padding: 0; color: #666666;">For any other further questions, you can reach us by replaying to this email.</p>
          <p style="font-size: 12px; margin: 0; padding: 0; color: #666666;">Best Regards,<br />Support Team</p>
        </td>
      </tr>
      <tr>
        <td style="background: #053d6c; padding:10px 20px;">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td width="65%">
                <p style="color: #ffffff; font-size: 14px; margin: 0; padding: 15px 0;">+ 01 123 456 7897 | <a href="#" style="font-size:14px; color: #ffffff; text-decoration: none;">info@tradias.com</a></p>
              </td>
              <td width="35%" style="text-align: right;">
                <a href="#" style="border: 0; font-size: 0; line-height: 0; margin: 0 0 0 12px"><img src="images/fi1.png" /></a>
                <a href="#" style="border: 0; font-size: 0; line-height: 0; margin: 0 0 0 12px"><img src="images/fi2.png" /></a>
                <a href="#" style="border: 0; font-size: 0; line-height: 0; margin: 0 0 0 12px"><img src="images/fi3.png" /></a>
                <a href="#" style="border: 0; font-size: 0; line-height: 0; margin: 0 0 0 12px"><img src="images/fi4.png" /></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      </table>
   </body>
</html>
